.pokemon-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    article {
        width: 10%;
        border: 2px black solid;
        padding: 0.5rem;
        margin: 1rem;
        background: #b62121;

        .content {
            position: relative;
            text-align: center;
            cursor: pointer;
            opacity: 0;
            order: 3;

            &.visible, &.found {
                opacity: 1;
                order: 1;
            }

            img {
                width: 10em;
            }
            .filter {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: transparent;
                order: 2;
            }
        }
        

    }

}